.hourlyItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.hourlyItem {
    width: 8%;
    height: 155px;
    margin-bottom: 40px;
    min-width: 85px;
    padding: 12px 15px;
    box-sizing: border-box;
    background-color: #FEFEFE;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.hourlyItem__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourlyItem__time{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.hourlyItem__img{
    width: 100%;
}

.hourlyItem__temp{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 18px;
}